@use "sass:math";
@use "../global" as *;
@use "../foundation/fonts" as *;

.p-top-mv {
  position: relative;
  margin-top: 70px;

  @include mq("md") {
    margin-top: 0;
  }
}

.p-top-mv__ph {
  @include mq("md") {
    img {
      width: 100%;
      max-width: none;
      max-height: 1400px;
      object-fit: cover;
      object-position: right top;
    }
  }
}

.p-top-mv__scroll {
  position: absolute;
  bottom: sm(30);
  left: 50%;

  @include mq(md){
  bottom: tab(20);
  }
}

/*Scrollテキストの描写*/
.p-top-mv__scroll span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color:  $text-color;
  font-size: 0.7rem;
  font-family: $ff-en;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.p-top-mv__scroll:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:  $text-color;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* 線の描写 */
.p-top-mv__scroll:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: $text-color;
}
