@use "sass:math";
@use "../global" as *;
@use "../foundation/fonts" as *;

.l-header {
  @include mq("md"){
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
  }
}
